@model EmployeePortal_Assignment.Models.PaySlip

@{
    ViewBag.Title = "DisplayPaySlip";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>PaySlip</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-4">
            @Html.Label("Select Month")
            @Html.DropDownList("Month", (IEnumerable<SelectListItem>)@ViewBag.months, htmlAttributes: new { @class = "form-control"})
        </div>
        <div class="col-sm-4">
            @Html.Label("Select Year")
            @Html.DropDownList("Year", (IEnumerable<SelectListItem>)@ViewBag.Years, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-sm-4">
            <br />
            <input type="submit" value="Generate" class="btn btn-info" />
        </div>
        </div>
}
<br /><br />

    @if (Model != null)
    {
        if (ViewBag.payslipMsg != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>@ViewBag.payslipMsg</strong>
            </div>
        }
        else
        {
        <div>
            <table border="0" class="table table-striped table-hover">
                <tr>
                    <th>
                        Employee Name
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Employees.FirstName)&nbsp;@Html.DisplayFor(model => model.Employees.LastName)
                    </td>
                    <th>
                        PF Number
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.PFNumber)
                    </td>
                </tr>
                <tr>
                    <th>
                        DOJ
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Employees.DOJ)
                    </td>
                    <th>
                        Salary Credit Date
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.DateofSalaryCredit)
                    </td>
                </tr>
                <tr>
                    <th colspan="2">Basic Pay </th>
                    <td colspan="2">@Html.DisplayFor(model => model.BasicSalary)</td>
                </tr>
                <tr>
                    <th colspan="2">Special Allowance </th>
                    <td colspan="2">@Html.DisplayFor(model => model.SpecialAllowance)</td>
                </tr>
                <tr>
                    <th colspan="2">Travel Allowance </th>
                    <td colspan="2">@Html.DisplayFor(model => model.TravelAllowance)</td>
                </tr>
                <tr>
                    <th colspan="2">House Rent Allowance </th>
                    <td colspan="2">@Html.DisplayFor(model => model.HouseRentAllowance)</td>
                </tr>
                <tr>
                    <th colspan="2">Project Bonus </th>
                    <td colspan="2">@Html.DisplayFor(model => model.Bonus)</td>
                </tr>
                <tr>
                    <th colspan="2">PF Deduction </th>
                    <td colspan="2"><font color="red">-@Html.DisplayFor(model => model.PFDeduction)</font></td>
                </tr>
                <tr>
                    <th colspan="2">Total Earning </th>
                    <th colspan="2"><font color="green">@Html.DisplayFor(model => model.TotalEarning)</font></th>
                </tr>
            </table>

        </div>

    }

}
